<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.serviceModel>
      
    <client />
    <behaviors>
      <serviceBehaviors>
        <behavior name="customerHttpProfile">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceCredentials>
            <!--<serviceCertificate storeLocation="LocalMachine" 
                                storeName="Root" 
                                findValue="WpkCertificate" 
                                x509FindType="FindBySubjectName"/>-->
          </serviceCredentials>
        </behavior>
        <behavior name="employeeHttpProfile">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom"
                                    customUserNamePasswordValidatorType="Host.WCF.EmployeeAuthenticator, Host.WCF"/>
          </serviceCredentials>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
      
    <bindings>
      <basicHttpBinding>
        <binding name="HttpCustomerAuthenticationBinding">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" />
          </security>
        </binding>
        <binding name="HttpEmployeeAuthenticationBinding">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" proxyCredentialType="None" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>             
      
    <services>
      <service name="Business.Services.AnswerOptionManager" behaviorConfiguration="employeeHttpProfile">
        <endpoint address="secure"    binding="basicHttpBinding" bindingConfiguration="HttpEmployeeAuthenticationBinding" contract="Business.Contracts.IAnswerOptionSecureService" />
        <endpoint address="basicHttp" binding="basicHttpBinding" bindingConfiguration="" contract="Business.Contracts.IAnswerOptionService" />
        <endpoint address="MEX"       binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Business.Services.AuthenticationCustomerManager">
        <endpoint address="basicHttp" binding="basicHttpBinding" contract="Business.Contracts.ICustomerAuthenticationService" />
        <endpoint address="MEX"       binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Business.Services.BoostAccountManager" behaviorConfiguration="employeeHttpProfile">
        <endpoint address="basicHttp" binding="basicHttpBinding" bindingConfiguration="" contract="Business.Contracts.IBoostAccountCreatorService" />
        <endpoint address="secure"    binding="basicHttpBinding" bindingConfiguration="HttpEmployeeAuthenticationBinding" contract="Business.Contracts.IBoostAccountSecureService" />
        <endpoint address="MEX"       binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Business.Services.BusStopManager" behaviorConfiguration="employeeHttpProfile">
        <endpoint address="secure"    binding="basicHttpBinding" bindingConfiguration="HttpEmployeeAuthenticationBinding" contract="Business.Contracts.IBusStopSecureService" />
        <endpoint address="basicHttp" binding="basicHttpBinding" bindingConfiguration="" contract="Business.Contracts.IBusStopService" />
        <endpoint address="MEX"       binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Business.Services.BusStopOnLineManager" behaviorConfiguration="employeeHttpProfile">
        <endpoint address="secure"    binding="basicHttpBinding" bindingConfiguration="HttpEmployeeAuthenticationBinding" contract="Business.Contracts.IBusStopOnLineSecureService" />
        <endpoint address="basicHttp" binding="basicHttpBinding" bindingConfiguration="" contract="Business.Contracts.IBusStopOnLineService" />
        <endpoint address="MEX"       binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Business.Services.BusStopTypeManager" behaviorConfiguration="employeeHttpProfile">
        <endpoint address="secure"    binding="basicHttpBinding" bindingConfiguration="HttpEmployeeAuthenticationBinding" contract="Business.Contracts.IBusStopTypeSecureService" />
        <endpoint address="basicHttp" binding="basicHttpBinding" behaviorConfiguration="" contract="Business.Contracts.IBusStopTypeService" />
        <endpoint address="MEX"       binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Business.Services.CustomerManager" behaviorConfiguration="employeeHttpProfile">
        <endpoint address="secure"    binding="basicHttpBinding" bindingConfiguration="HttpEmployeeAuthenticationBinding" contract="Business.Contracts.ICustomerSecureService" />
        <endpoint address="MEX"       binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Business.Services.CustomerOperationService">
        <endpoint address="basicHttp" binding="basicHttpBinding" bindingConfiguration="" contract="Business.Contracts.ICustomerOperationService" />
        <endpoint address="MEX"       binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Business.Services.DiscountManager" behaviorConfiguration="employeeHttpProfile">
        <endpoint address="secure"    binding="basicHttpBinding" bindingConfiguration="HttpEmployeeAuthenticationBinding" contract="Business.Contracts.IDiscountSecureService" />
        <endpoint address="basicHttp" binding="basicHttpBinding" bindingConfiguration="" contract="Business.Contracts.IDiscountService" />
        <endpoint address="MEX"       binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Business.Services.DistanceBetweenStopsManager" behaviorConfiguration="employeeHttpProfile">
        <endpoint address="secure"    binding="basicHttpBinding" bindingConfiguration="HttpEmployeeAuthenticationBinding" contract="Business.Contracts.IDistanceBetweenStopsSecureService" />
        <endpoint address="basicHttp" binding="basicHttpBinding" bindingConfiguration="" contract="Business.Contracts.IDistanceBetweenStopsService" />
        <endpoint address="MEX"       binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Business.Services.EmployeeManager" behaviorConfiguration="employeeHttpProfile">
        <endpoint address="secure"    binding="basicHttpBinding" bindingConfiguration="HttpEmployeeAuthenticationBinding" contract="Business.Contracts.IEmployeeSecureService" />
        <endpoint address="MEX"       binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Business.Services.AuthenticationEmployeeManager" behaviorConfiguration="employeeHttpProfile">
        <endpoint address="basicHttp" binding="basicHttpBinding" bindingConfiguration="" contract="Business.Contracts.IEmployeeAuthentication" />
        <endpoint address="MEX"       binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Business.Services.LineManager" behaviorConfiguration="employeeHttpProfile">
        <endpoint address="secure"    binding="basicHttpBinding" bindingConfiguration="HttpEmployeeAuthenticationBinding" contract="Business.Contracts.ILineSecureService" />
        <endpoint address="basicHttp" binding="basicHttpBinding" bindingConfiguration="" contract="Business.Contracts.ILineService" />
        <endpoint address="MEX"       binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Business.Services.NewsManager" behaviorConfiguration="employeeHttpProfile">
        <endpoint address="secure"    binding="basicHttpBinding" bindingConfiguration="HttpEmployeeAuthenticationBinding" contract="Business.Contracts.INewsSecureService" />
        <endpoint address="basicHttp" binding="basicHttpBinding" bindingConfiguration="" contract="Business.Contracts.INewsService" />
        <endpoint address="MEX"       binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Business.Services.PhotoManager" behaviorConfiguration="employeeHttpProfile">
        <endpoint address="secure"    binding="basicHttpBinding" bindingConfiguration="HttpEmployeeAuthenticationBinding" contract="Business.Contracts.IPhotoSecureService" />
        <endpoint address="basicHttp" binding="basicHttpBinding" bindingConfiguration="" contract="Business.Contracts.IPhotoService" />
        <endpoint address="MEX"       binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Business.Services.PurchaseTicketManager" behaviorConfiguration="employeeHttpProfile">
        <endpoint address="secure"    binding="basicHttpBinding" bindingConfiguration="HttpEmployeeAuthenticationBinding" contract="Business.Contracts.IPurchaseTicketSecureService" />
        <endpoint address="MEX"       binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Business.Services.QuestionnaireManager" behaviorConfiguration="employeeHttpProfile">
        <endpoint address="secure"    binding="basicHttpBinding" bindingConfiguration="HttpEmployeeAuthenticationBinding" contract="Business.Contracts.IQuestionnaireSecureService" />
        <endpoint address="basicHttp" binding="basicHttpBinding" bindingConfiguration="" contract="Business.Contracts.IQuestionnaireService" />
        <endpoint address="MEX"       binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Business.Services.TicketManager" behaviorConfiguration="employeeHttpProfile">
        <endpoint address="secure"    binding="basicHttpBinding" bindingConfiguration="HttpEmployeeAuthenticationBinding" contract="Business.Contracts.ITicketSecureService" />
        <endpoint address="basicHttp" binding="basicHttpBinding" bindingConfiguration="" contract="Business.Contracts.ITicketService" />
        <endpoint address="MEX"       binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Business.Services.TicketTypeManager" behaviorConfiguration="employeeHttpProfile">
        <endpoint address="secure"    binding="basicHttpBinding" bindingConfiguration="HttpEmployeeAuthenticationBinding" contract="Business.Contracts.ITicketTypeSecureService" />
        <endpoint address="basicHttp" binding="basicHttpBinding" bindingConfiguration="" contract="Business.Contracts.ITicketTypeService" />
        <endpoint address="MEX"        binding="mexHttpBinding" contract="IMetadataExchange"  />
      </service>
      <service name="Business.Services.TimetableManager" behaviorConfiguration="employeeHttpProfile">
        <endpoint address="secure"    binding="basicHttpBinding" bindingConfiguration="HttpEmployeeAuthenticationBinding" contract="Business.Contracts.ITimetableSecureService" />
        <endpoint address="basicHttp" binding="basicHttpBinding" bindingConfiguration="" contract="Business.Contracts.ITimetableService" />
        <endpoint address="MEX"       binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Business.Services.UserAccountManager" behaviorConfiguration="employeeHttpProfile">
        <endpoint address="secure"    binding="basicHttpBinding" bindingConfiguration="HttpEmployeeAuthenticationBinding" contract="Business.Contracts.IUserAccountSecureService" />
        <endpoint address="MEX"       binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>

    
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AI.Agent.Intercept" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <entityFramework>   
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>