<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEmployeeAuthentication" />
                <binding name="BasicHttpBinding_IUserAccountSecureService">
                    <security mode="TransportWithMessageCredential" />
                </binding>
                <binding name="BasicHttpBinding_IBusStopSecureService">
                    <security mode="TransportWithMessageCredential" />
                </binding>
                <binding name="BasicHttpBinding_IBusStopService" />
                <binding name="BasicHttpBinding_INewsSecureService">
                    <security mode="TransportWithMessageCredential" />
                </binding>
                <binding name="BasicHttpBinding_INewsService" />
                <binding name="BasicHttpBinding_ITicketTypeSecureService">
                    <security mode="TransportWithMessageCredential" />
                </binding>
                <binding name="BasicHttpBinding_ITicketTypeService" />
                <binding name="BasicHttpBinding_ITicketSecureService">
                    <security mode="TransportWithMessageCredential" />
                </binding>
                <binding name="BasicHttpBinding_ITicketService" />
                <binding name="BasicHttpBinding_ICustomerSecureService">
                    <security mode="TransportWithMessageCredential" />
                </binding>
                <binding name="BasicHttpBinding_ICustomerOperationService" />
                <binding name="BasicHttpBinding_IEmployeeSecureService">
                    <security mode="TransportWithMessageCredential" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:24462/Services/EmployeeAuthentication.svc/basicHttp"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmployeeAuthentication"
                contract="EmployeeAuthenticationService.IEmployeeAuthentication"
                name="BasicHttpBinding_IEmployeeAuthentication" />
            <endpoint address="https://localhost:44300/Services/UserAccountSecureService.svc/secure"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserAccountSecureService"
                contract="UserAccountService.IUserAccountSecureService" name="BasicHttpBinding_IUserAccountSecureService" />
            <endpoint address="https://localhost:44300/Services/BusStopService.svc/secure"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBusStopSecureService"
                contract="BusStopService.IBusStopSecureService" name="BasicHttpBinding_IBusStopSecureService" />
            <endpoint address="http://localhost:24462/Services/BusStopService.svc/basicHttp"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBusStopService"
                contract="BusStopService.IBusStopService" name="BasicHttpBinding_IBusStopService" />
            <endpoint address="https://localhost:44300/Services/NewsService.svc/secure"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INewsSecureService"
                contract="NewsService.INewsSecureService" name="BasicHttpBinding_INewsSecureService" />
            <endpoint address="http://localhost:24462/Services/NewsService.svc/basicHttp"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INewsService"
                contract="NewsService.INewsService" name="BasicHttpBinding_INewsService" />
            <endpoint address="https://localhost:44300/Services/TicketTypeService.svc/secure"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITicketTypeSecureService"
                contract="TicketTypeService.ITicketTypeSecureService" name="BasicHttpBinding_ITicketTypeSecureService" />
            <endpoint address="http://localhost:24462/Services/TicketTypeService.svc/basicHttp"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITicketTypeService"
                contract="TicketTypeService.ITicketTypeService" name="BasicHttpBinding_ITicketTypeService" />
            <endpoint address="https://localhost:44300/Services/TicketService.svc/secure"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITicketSecureService"
                contract="TicketService.ITicketSecureService" name="BasicHttpBinding_ITicketSecureService" />
            <endpoint address="http://localhost:24462/Services/TicketService.svc/basicHttp"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITicketService"
                contract="TicketService.ITicketService" name="BasicHttpBinding_ITicketService" />
            <endpoint address="https://localhost:44300/Services/CustomerSecureService.svc/secure"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerSecureService"
                contract="CustomerSecureService.ICustomerSecureService" name="BasicHttpBinding_ICustomerSecureService" />
            <endpoint address="http://localhost:24462/Services/CustomerOperationService.svc/basicHttp"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerOperationService"
                contract="CustomerOperationService.ICustomerOperationService"
                name="BasicHttpBinding_ICustomerOperationService" />
            <endpoint address="https://localhost:44300/Services/EmployeeSecureService.svc/secure"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmployeeSecureService"
                contract="EmployeeSecureService.IEmployeeSecureService" name="BasicHttpBinding_IEmployeeSecureService" />
        </client>
    </system.serviceModel>
</configuration>